<main>
  <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">Create new coach</h1>

  <!-- Card Section -->
  <div class="max-w-[60rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <form [formGroup]="createForm">
      <!-- Card -->
      <div
        class="bg-white rounded-xl shadow p-4 sm:p-7 border-2 border-gray-200"
      >
        <div class="pt-0 p-4 sm:pt-0 sm:p-7">
          <!-- Grid -->
          <div class="space-y-4 sm:space-y-6">
            <div class="sm:col-span-12 mt-6">
              <h2 class="text-3xl font-semibold text-gray-800">
                Coach Information
              </h2>
            </div>
            <div class="space-y-2">
              <label
                for="firstName"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                First Name
              </label>

              <input
                id="firstName"
                formControlName="firstName"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Enter first name"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (
                  firstName?.invalid && (firstName?.dirty || firstName?.touched)
                ) {
                  @if (firstName?.errors?.["required"]) {
                    First name is required
                  } @else if (firstName?.errors?.["maxlength"]) {
                    First name is too long
                  }
                }
              </p>
            </div>

            <div class="space-y-2">
              <label
                for="lastName"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Last Name
              </label>
              <input
                id="lastName"
                formControlName="lastName"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Enter last name"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (
                  lastName?.invalid && (lastName?.dirty || lastName?.touched)
                ) {
                  @if (lastName?.errors?.["required"]) {
                    Last name is required
                  } @else if (lastName?.errors?.["maxlength"]) {
                    Last name is too long
                  }
                }
              </p>
            </div>

            <div class="space-y-2">
              <label
                for="yearsOfExperience"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Years of Experience
              </label>

              <input
                id="yearsOfExperience"
                formControlName="yearsOfExperience"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="0"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (
                  yearsOfExperience?.invalid &&
                  (yearsOfExperience?.dirty || yearsOfExperience?.touched)
                ) {
                  @if (yearsOfExperience?.errors?.["required"]) {
                    Enter a year
                  } @else {
                    Enter a valid year
                  }
                }
              </p>
            </div>
            <div class="space-y-2">
              <label
                for="salary"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Salary
              </label>

              <input
                id="salary"
                formControlName="salary"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="0"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (salary?.invalid && (salary?.dirty || salary?.touched)) {
                  Enter a valid number
                }
              </p>
            </div>

            <div class="space-y-2">
              <label
                for="email"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Email
              </label>
              <input
                id="email"
                formControlName="email"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="example@gmail.com"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (email?.invalid && (email?.dirty || email?.touched)) {
                  @if (email?.errors?.["required"]) {
                    Email is required
                  } @else if (email?.errors?.["pattern"]) {
                    Enter a valid email
                  } @else if (email?.errors?.["maxlength"]) {
                    Email is too long
                  }
                }
              </p>
            </div>
            <div class="space-y-2">
              <label
                for="phoneNumber"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Phone Number
              </label>

              <input
                id="phoneNumber"
                formControlName="phoneNumber"
                type="text"
                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Enter a number"
              />
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (
                  phoneNumber?.invalid &&
                  (phoneNumber?.dirty || phoneNumber?.touched)
                ) {
                  @if (phoneNumber?.errors?.["required"]) {
                    Phone number is required
                  } @else if (phoneNumber?.errors?.["pattern"]) {
                    Enter a valid number
                  } @else if (phoneNumber?.errors?.["maxlength"]) {
                    Enter a valid number
                  }
                }
              </p>
            </div>

            <div class="space-y-2">
              <label
                for="teamId"
                class="inline-block text-sm font-medium text-gray-800 mt-2.5"
              >
                Team
              </label>
              <select
                id="teamId"
                formControlName="teamId"
                class="py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              >
                <option value="" disabled selected>Select a Team</option>
                @for (team of teams; track team.id) {
                  <option value="{{ team.id }}">
                    {{ team.team_name }}
                  </option>
                }
              </select>
              <p
                class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
              >
                @if (teamId?.invalid && (teamId?.dirty || teamId?.touched)) {
                  @if (teamId?.errors?.["required"]) {
                    Team is required
                  }
                }
              </p>
            </div>

            <p
              class="px-3 bg-clip-text bg-gradient-to-tl from-red-500 to-red-800 text-transparent"
            >
              {{ errorMessage }}
            </p>
            <p
              class="px-3 bg-clip-text bg-gradient-to-tl from-green-500 to-green-800 text-transparent"
            >
              {{ successMessage }}
            </p>
          </div>
          <!-- End Grid -->
          <div class="flex justify-center gap-x-2 mt-6">
            <button
              type="button"
              (click)="resetCreateForm()"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Reset
            </button>
            <button
              type="button"
              (click)="submitCreateForm()"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Create
            </button>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </form>
  </div>
  <!-- End Card Section -->
</main>
