<div class="hs-dropdown relative inline-flex">
  <button
    id="hs-dropdown-unstyled"
    type="button"
    class="hs-dropdown-toggle inline-flex justify-center items-center gap-x-2"
    aria-expanded="false"
    aria-label="Menu"
  >
    Actions
  </button>

  <div
    class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 w-56 hidden z-10 mt-2 min-w-60 bg-white"
    role="menu"
    aria-labelledby="hs-dropdown-unstyled"
  >
    <a class="block" href="#">Newsletter</a>
    <a class="block" href="#">Purchases</a>
    <a class="block" href="#">Downloads</a>
    <a class="block" href="#">Team Account</a>
  </div>
</div>
