/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

main {
  padding-top: 50px;
  margin-bottom: 40px;
}
